h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--background-main-color);
  color: var(--main-text-color);
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.navigation,
.contacts,
.header-items,
.logo,
.hero-section {
  align-items: center;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .footer .container {
    display: flex;
    align-items: baseline;
  }
}

.hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  margin: 0px;
}

.header {
  border-bottom: solid 1px;
  border-color: #ECECEC;
}

.menu-button {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 40px;
  height: 40px;
}

.menu-button .menu-icon {
  width: 24px;
  height: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button:hover .menu-icon {
  fill: #2196F3;
}

.mobile-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 50%;
  width: 100%;
  max-width: 767px;
  height: 100vh;
  background-color: #FFFFFF;
  padding: 48px 40px;
  opacity: 0;
  pointer-events: none;
  z-index: 999;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  transform: translate(-50%, 0);
  opacity: 1;
  pointer-events: all;
}

.mobile__nav {
  margin-bottom: auto;
}

.mobile__nav--item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile__nav--item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile__nav--item .mobile__nav--link {
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile__nav--item:hover .mobile__nav--link {
  color: #2196F3;
}

.menu-close {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
}

.menu-close .close-icon {
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close .close-icon:hover {
  fill: #2196F3;
}

.mobile__contacts {
  margin-bottom: 64px;
}

.mobile__contacts--item:nth-child(1) {
  margin-bottom: 32px;
}

.mobile__contacts--link {
  font-weight: 500;
  font-size: 26px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mobile__contacts--link.mail {
  font-size: 24px;
  line-height: 1.166;
  color: #757575;
}

.mobile__social--list {
  display: flex;
  flex-wrap: wrap;
}

.mobile__social--list .mobile__social--item:not(:last-child) {
  margin-right: 5px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile__social--link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.222;
  letter-spacing: 0.02em;
  color: #2196F3;
  padding-right: 5px;
}

@media screen and (max-width: 767px) {
  .header__items,
  .header__contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mobile-header {
    display: none;
  }
  .header__navigation {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    display: flex;
  }
  .header-logo {
    margin-right: 88px;
  }
  .header__items {
    display: flex;
  }
  .header__items .header-links-item {
    position: relative;
  }
  .header__items .header-links-item:not(:last-child) {
    margin-right: 50px;
  }
  .header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #212121;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-link:hover, .header-link:focus {
    color: #2196F3;
  }
  .header-link.current {
    color: #2196F3;
  }
  .header-link.current::after {
    position: absolute;
    content: "";
    display: block;
    left: 0%;
    bottom: -1.5%;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196F3;
  }
  .header__contacts {
    margin-left: auto;
  }
  .header__contacts--link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #757575;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-icon {
    width: 16px;
    height: 12px;
    fill: #757575;
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-icon.phone {
    width: 10px;
    height: 16px;
  }
  .header__contacts--link:hover,
  .header__contacts--link:focus {
    color: #2196F3;
  }
  .header__contacts--link:hover:hover .contacts-icon,
  .header__contacts--link:hover:focus .contacts-icon,
  .header__contacts--link:focus:hover .contacts-icon,
  .header__contacts--link:focus:focus .contacts-icon {
    fill: #2196F3;
  }
}

@media screen and (max-width: 1199px) {
  .header__contacts {
    padding: 21px 0;
  }
  .header__contacts--list-item:nth-child(1) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-logo {
    margin-right: 93px;
  }
  .header__contacts {
    display: flex;
    margin-left: auto;
  }
  .header__contacts--link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #757575;
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-icon {
    width: 16px;
    height: 12px;
    fill: #757575;
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-icon.phone {
    width: 10px;
    height: 16px;
  }
  .header__contacts--list-item:nth-child(2) {
    margin-left: 50px;
  }
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  text-decoration: none;
  color: #000000;
  display: block;
}

.logo .logo-left-side {
  color: #2196F3;
}

.logo.header-logo {
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo.bottom {
  color: #FFFFFF;
  display: inline-block;
  margin-bottom: 20px;
}

.hero-section {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2F303A;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/bg-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/bg-mobile@2x.jpg");
  }
}

.main-title {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.button-link {
  background: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  border-color: transparent;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-link:hover {
  background-color: #188CE8;
}

@media screen and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/bg-tablet.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/bg-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/bg.jpg");
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/bg@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .main-title {
    font-size: 44px;
    line-height: 1.363;
  }
}

.backdrop {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
  fill: #2196F3;
}

.modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.150;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.label-input {
  position: relative;
  display: block;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.label-input:not(:last-child) {
  margin-bottom: 10px;
}

.label-input.comment {
  margin-bottom: 20px;
}

.label-title {
  display: inline-block;
  margin-bottom: 4px;
}

.form-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 370px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-item:focus {
  outline: 0;
  outline-offset: 0;
}

.label-input:hover > .form-item,
.label-input:focus-within > .form-item {
  border-color: #2196F3;
}

.modal-form-icon {
  position: absolute;
  top: 32px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-input:hover > .modal-form-icon,
.label-input:focus-within > .modal-form-icon {
  fill: #2196F3;
}

.comment-field {
  display: block;
  width: 100%;
  max-width: 370px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-field:focus {
  outline: 0;
  outline-offset: 0;
}

.label-input:hover > .comment-field,
.label-input:focus-within > .comment-field {
  border-color: #2196F3;
}

.comment-field::placeholder {
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.agreement {
  position: relative;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.label {
  display: block;
  margin-left: 24px;
  color: #757575;
}

.checkbox + .label::before {
  position: absolute;
  left: 0;
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  border: solid 2px #212121;
  border-radius: 2px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  border: none;
  border-radius: 2px;
  background-color: #2196F3;
  background-image: url(../images/svg/icon-check.svg);
}

.checkbox:hover + .label::before,
.checkbox:focus + .label::before {
  border: solid 2px #2196F3;
  border-radius: 2px;
}

.checkbox:checked:hover + .label::before,
.checkbox:checked:focus + .label::before {
  border: none;
  box-sizing: border-box;
}

.modal-policy-link {
  color: #2196F3;
  text-decoration: none;
  text-decoration-line: underline;
}

.modal-policy-link:visited {
  color: #2196F3;
}

.button-link.submit {
  display: block;
  margin: auto;
  padding-left: 55px;
  padding-right: 55px;
}

@media screen and (max-width: 1199px) {
  .modal {
    max-width: 450px;
    width: 100%;
    max-height: 609px;
    height: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
  .form-item {
    width: 448px;
    max-width: 100%;
    height: 40px;
    max-height: 100%;
  }
  .comment-field {
    width: 448px;
    max-width: 100%;
  }
  .agreement {
    font-size: 14px;
    line-height: 1.714;
  }
  .checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .label {
    margin-left: 37px;
    margin-right: 10px;
  }
  .checkbox + .label::before {
    left: 14px;
    top: 4px;
  }
}

.advantages-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.advantages-list-item::before {
  display: inline-block;
  content: '';
  width: 100%;
  max-width: 450px;
  height: 120px;
  background-color: #F5F4FA;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

.advantages-list-item.antenna::before {
  background-image: url(../images/svg/antenna.svg);
}

.advantages-list-item.clock::before {
  background-image: url(../images/svg/clock.svg);
}

.advantages-list-item.diagram::before {
  background-image: url(../images/svg/diagram.svg);
}

.advantages-list-item.astronaut::before {
  background-image: url(../images/svg/astronaut.svg);
}

.description-title {
  color: #212121;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.description-item {
  color: #757575;
  width: 450px;
  max-width: 100%;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .advantages {
    display: flex;
    flex-wrap: wrap;
  }
  .advantages-list-item::before {
    width: 354px;
  }
  .advantages-list-item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .description-item {
    width: 354px;
    max-width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .advantages {
    display: flex;
  }
  .advantages-list-item {
    max-width: 270px;
  }
  .advantages-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .advantages-list-item::before {
    max-width: 270px;
    height: 120px;
  }
}

.section-title {
  color: #212121;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.178;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.166;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1199px) {
  .gallery {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .gallery {
    padding-bottom: 94px;
  }
  .gallery-list {
    display: flex;
  }
  .images-list-item {
    position: relative;
  }
  .images-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .photo-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.142;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    background: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
    bottom: 0%;
    left: 0%;
  }
}

.team {
  background-color: #F5F4FA;
  padding-top: 60px;
  padding-bottom: 60px;
}

.team-item {
  max-width: 450px;
  height: 100%;
  max-width: 622px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #FFFFFF;
}

.team-item:not(:last-child) {
  margin-bottom: 30px;
}

.team-description {
  padding: 30px 32px;
}

.team-description .team-member {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  margin-bottom: 10px;
}

.team-description .team-member-position {
  color: #757575;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  margin-bottom: 16px;
}

.social-list {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 206px;
}

.social-list-item {
  width: 44px;
  height: 44px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: #AFB1B8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  background-color: #2196F3;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #FFFFFF;
}

.social-link .social-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
  .team-item {
    width: 354px;
  }
  .team-item:nth-child(2n+1) {
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-item {
    width: 270px;
  }
  .team-item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0px;
  }
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -15px;
}

.clients-list-item {
  width: calc((100% - 2 * 30px) / 2);
  max-width: 210px;
  margin: 15px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  fill: #AFB1B8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover, .clients-link:focus {
  border-color: #2196F3;
}

.clients-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: #2196F3;
}

@media screen and (min-width: 768px) {
  .clients-list-item {
    max-width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .clients-list-item {
    max-width: 170px;
  }
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  margin-bottom: 60px;
}

.address-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link.place {
  color: #FFFFFF;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  text-decoration: none;
}

.address-link:hover, .address-link:focus {
  color: #2196F3;
}

.invitation {
  width: 206px;
  height: 80px;
  margin-bottom: 60px;
}

.invitation-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.social-link.dark-theme {
  background: rgba(255, 255, 255, 0.1);
}

.social-link.dark-theme:hover, .social-link.dark-theme:focus {
  background-color: #2196F3;
}

.social-icon.dark-theme {
  fill: #FFFFFF;
}

.invitation-title.mailing {
  margin-bottom: 20px;
}

.label-footer {
  margin-right: 12px;
}

.input-footer {
  width: 100%;
  max-width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2F303A;
  padding: 15px 16px;
  color: #FFFFFF;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-footer:hover {
  border-color: #FFFFFF;
}

.input-footer::placeholder {
  font-size: 16px;
  line-height: 1.250;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.button-link-footer {
  position: relative;
  background: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  border-color: transparent;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px  62px 10px 29px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-link-footer:hover {
  background-color: #188CE8;
}

.footer-icon {
  position: absolute;
  top: 13px;
  right: 28px;
}

@media screen and (max-width: 1190px) {
  .footer {
    text-align: center;
  }
  .input-footer {
    margin-bottom: 20px;
  }
  .invitation {
    display: inline-block;
  }
}

@media screen and (min-width: 1200px) {
  .address {
    margin-right: 70px;
    margin-bottom: 0;
  }
  .invitation {
    margin-right: auto;
  }
  .footer-form {
    display: flex;
  }
  .input-footer {
    width: 358px;
  }
}

.buttons-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.buttons-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.buttons-list-item:not(:last-child) {
  margin-right: 8px;
}

.buttons-link-item {
  color: #212121;
  background-color: #F5F4FA;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons-link-item:hover, .buttons-link-item:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 767px) {
  .buttons-list {
    max-width: 450px;
  }
  .buttons-list-item:nth-child(-n+3) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .buttons-list {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .buttons-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .buttons-list {
    margin-bottom: 50px;
  }
}

.card-list-item {
  margin-bottom: 30px;
}

.card-link {
  display: inline-block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-link:hover, .card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-link:visited {
  color: #212121;
}

.overlay {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  text-align: left;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
  max-width: 450px;
  width: 100%;
  max-width: 450px;
  height: 100%;
  max-height: 294px;
  padding: 77px 24px;
  left: 0%;
  bottom: -100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-link:hover .overlay-text {
  transform: translate(0%, -100%);
}

.porfolio-description {
  display: block;
  text-align: left;
  border: 1px solid #EEEEEE;
  padding: 20px 24px;
}

.porfolio-description-title {
  color: #212121;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.porfolio-description-text {
  color: #757575;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
}

@media screen and (min-width: 768px) {
  .card-list {
    display: flex;
    flex-wrap: wrap;
  }
  .overlay-text {
    max-width: 354px;
    padding: 49px 24px;
  }
  .porfolio-description {
    max-width: 354px;
    width: 100%;
    height: 146px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card-list {
    flex-basis: calc(100% / 2 - 30px);
  }
  .card-list-item {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .card-list-item:nth-child(2n) {
    margin-right: 0px;
  }
  .card-list-item:nth-last-child(-n + 2) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .card-list {
    flex-basis: calc(100% / 3 - 30px);
  }
  .card-list-item {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .card-list-item:nth-child(3n) {
    margin-right: 0px;
  }
  .card-list-item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
  .overlay-text {
    max-width: 370px;
    padding: 63px 24px;
  }
  .porfolio-description {
    max-width: 370px;
    height: 110px;
  }
}
/*# sourceMappingURL=main.css.map */