.clients{
    padding-top: 60px;
    padding-bottom: 60px;
}

.clients-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -15px;
}

.clients-list-item{    
    width: calc((100% - 2 * 30px) / 2);
    max-width: 210px;
    margin: 15px;
}

.clients-link{
    display: flex; 
    justify-content: center;
    align-items: center;   
    height: 90px;        
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    fill: #AFB1B8; 

    transition: border-color 250ms $timing-function;

    &:hover,
    &:focus{
    border-color: $accent-color;
    }
}



.clients-icon{
    transition: fill 250ms $timing-function ;

    .clients-link:hover &,
    .clients-link:focus &{
    fill: $accent-color;
    }
}   

@media screen and (min-width: 768px){
    .clients-list-item{        
        max-width: 226px;       
    }
}



@media screen and (min-width: 1200px){
    .clients{
        padding-top: 94px;
        padding-bottom: 94px;
    }
    
       
    .clients-list-item{        
        max-width: 170px;       
    }
}
    
    
    



