@media screen and (max-width: 1199px){
    .gallery{
        display: none;
    }
}
@media screen and (min-width: 1200px){
    .gallery{
        padding-bottom: 94px;
    }
    
       
    
    .gallery-list{
        display: flex;
    }
    
    .images-list-item{
        position: relative;
    
        &:not(:last-child){
            margin-right: 30px;
    }
    
    
    }
    .photo-title{
        display: flex;
        align-items: center;
        justify-content: center;
        
        font-weight: bold;
        font-size: 14px;
        line-height: 1.142;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $background-main-color;
    
        position: absolute;
        background: rgba(47, 48, 58, 0.8);
        width: 370px;
        height: 70px;    
        bottom: 0%;
        left: 0%;
    
    }
}
