.backdrop{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;

    opacity: 1;
    transition: opacity 250ms $timing-function;

    &.is-hidden .modal{
        transform: translate(-50%, -50%) scale(1.2);
    }

}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}


.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    background: $background-main-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms $timing-function;
  
}

.modal-close{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;

    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;

    &-icon{
        transition: fill 250ms $timing-function;
    }
    
    &:hover &-icon,
    &:focus &-icon{
        fill: $accent-color;
    }

}

.modal-title{
    font-weight: bold;
    font-size: 20px;
    line-height: 1.150;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-text-color;
    margin-bottom:  12px;
}


.label-input{
    position: relative;
    display: block;
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.01em;
    color: $main-text-color;
    margin-bottom: 4px;

    &:not(:last-child){
        margin-bottom: 10px;
    }

    &.comment{
        margin-bottom: 20px;
    }
}

.label-title{
    display: inline-block;
    margin-bottom: 4px;
}

.form-item{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 370px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 42px;
    transition: border-color 250ms $timing-function;

    &:focus{
        outline: 0;
        outline-offset: 0;
    }

    .label-input:hover > &,
    .label-input:focus-within > &{
        border-color:  $accent-color;
    }
}

.modal-form-icon{
    position: absolute;
    top: 32px;
    left: 12px;
    transition: fill 250ms $timing-function;

    .label-input:hover > &,
    .label-input:focus-within > &{
        fill: $accent-color;
    }
}

.comment-field{
    display: block;
    width: 100%;
    max-width: 370px;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 16px;
    
    transition: border-color 250ms $timing-function;

    &:focus{
        outline: 0;
        outline-offset: 0;
    }
    
    .label-input:hover > &,
    .label-input:focus-within > &{
        border-color:  $accent-color;
    }
    
    &::placeholder{
        font-size: 14px;
        line-height: 1.142;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
}

.agreement{
    position: relative;
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    margin-bottom: 30px;    
}

.checkbox{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.label{
    display: block;
    margin-left: 24px;

    color: $main-text-color;
  
    
    .checkbox + &::before{
        position: absolute;
        left: 0;
        content: "";
        display: inline-block;
        width: 16px;
        height: 15px;
        border: solid 2px $title-text-color;
        border-radius: 2px;
        box-sizing: border-box;   
    
        transition: background-color 250ms $timing-function,
        border 250ms $timing-function;
    }
    
    .checkbox:checked + &::before{
        content: "";
        display: inline-block;
        width: 16px;
        height: 15px;
        border:none;
        border-radius: 2px;
        background-color: $accent-color;
        background-image: url(../images/svg/icon-check.svg);
        
    }
    
    .checkbox:hover + &::before,
    .checkbox:focus + &::before{        
        border: solid 2px $accent-color;
        border-radius: 2px;    
    }
    
    .checkbox:checked:hover + &::before,
    .checkbox:checked:focus + &::before{
        border: none;
        box-sizing: border-box;
    }
}



.modal-policy-link{
    color: $accent-color;
    text-decoration: none;
    text-decoration-line: underline; 
    
    &:visited{
        color: $accent-color;
    }
}

.button-link.submit{
    display: block;
    margin: auto;
    padding-left: 55px;
    padding-right: 55px;
}


@media screen and(max-width:1199px){
    .modal{
        max-width:450px ;
        width: 100%;    
        max-height: 609px;
        height: 100%
    }
}



@media screen and(min-width:1200px){   
    
    .modal{       
        width: 528px;
        height: 581px;
    }
        
    .form-item{
        
        width: 448px;
        max-width: 100%;
        height: 40px;
        max-height: 100%;
    }
    
    .comment-field{
        width: 448px;
        max-width: 100%;       
    }
    
    
    
    .agreement{
        font-size: 14px;
        line-height: 1.714;
           
    }
    
    .checkbox{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
    
    .label{
        margin-left: 37px;
        margin-right: 10px;  
        
        .checkbox + &::before{           
            left: 14px;
            top: 4px;            
        }
                
    }
    
    
    
   
    
    
    
   
    
}
