
 .card-list-item{      
    margin-bottom: 30px;    
}   



.card-link{
    display: block;
    text-decoration: none; 

    transition: box-shadow 250ms $timing-function;

    &:hover,
    &:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:visited{
        color: $title-text-color;
    }
}

.overlay{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &-text{
        position: absolute; 
    
    
        font-weight: normal;
        font-size: 18px;
        line-height: 1.555;
        letter-spacing: 0.03em;
        text-align: left;
        color: $background-main-color;
    
        background-color:rgba(33, 150, 243, 0.9);
        max-width: 450px;
        width: 100%;
        max-width: 450px;
        height: 100%;
        max-height: 294px;
        padding: 77px 24px ;
    
        left: 0%;
        bottom: -100%;
        transition: transform 250ms $timing-function;
    
        .card-link:hover &{
            transform: translate(0%, -100%);
        }
    }

}

.porfolio-description{
    display: block;
    text-align: left;

    border: 1px solid #EEEEEE;
    padding: 20px 24px;

    
    &-title{
        color: $title-text-color;
        font-weight: bold;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        
        margin-bottom: 4px;
    }


    &-text{
        color: $main-text-color;
        font-weight: normal;
        font-size: 16px;
        line-height: 1.875;    
    }
}



@media screen and (min-width: 1200px){
    .card-list{    
        display: flex;
        flex-wrap: wrap;
        flex-basis: calc(100% / 3 - 30px);  
        
        &-item{       
            margin-right: 30px;
            margin-bottom: 30px;    
        
            &:nth-child(3n){
                margin-right: 0px;
            }
            &:nth-last-child(-n + 3){
                margin-bottom: 0px;
            }
        }
    } 
    
        
    
    .overlay-text{        
        width: 370px;
        
    }        

    
    
    .porfolio-description{
        display: block;
        text-align: left;
    
        border: 1px solid #EEEEEE;
        padding: 20px 24px;
    
        
        &-title{
            color: $title-text-color;
            font-weight: bold;
            font-size: 18px;
            line-height: 2;
            letter-spacing: 0.06em;
            
            margin-bottom: 4px;
        }
    
    
        &-text{
            color: $main-text-color;
            font-weight: normal;
            font-size: 16px;
            line-height: 1.875;    
        }
    }
    
}
