$main-text-color: #757575;
$title-text-color: #212121;
$background-main-color: #FFFFFF;
$background-light-color:#F5F4FA;
$background-hero-color:#2F303A;
$accent-color:#2196F3;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

